<!-- inherit from base.html-->
{% extends "piano_project/base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}
<h1>{{teacher.name}}</h1>
{% if teacher.photo %}
    <img src="{{teacher.photo.url}}" alt="This is a photo of the teacher" width="200" height="200">
{% endif %}
<h2>{{teacher.phone_number}}</h2>
<p>{{teacher.email}}</p>

<p style="font-family: Cambria, 'Times New Roman', serif;"> 
    <div class="p-3 border" style= "background-color: #ffebbb;"> 
        {{teacher.message}}
    </div>
</p>
<p> 
    <div class="p-3 border" style= "background-color: #f5fff5;"> 
        {{teacher.about}}
    </div>
</p>
{% if user.is_authenticated %}
    <a id="update-button" href="{% url 'update_teacher' slug=teacher.slug%}" class = "btn btn-green"> Update </a>

    <a id="delete-button" href="{% url 'delete_teacher' slug=teacher.slug%}" class = "btn btn-red"> Delete </a>
{% endif %}
{% endblock %}