<!-- inherit from base.html-->
{% extends "piano_project/base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}
<h1>Create a New Teacher Profile</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
        <button type="submit" style="margin-top: 20px">Create Profile</button>
        </div>
        <label for="id_name">Name:</label>
        <div>
            {{ form.name }}
        </div>
        <label for="id_studio">Studio:</label>
        <div>
            {{ form.studio }}
        </div>
        <label for="id_email"> Email:</label>
        <div>
            {{ form.email }}
        </div>
        <label for="id_phone_number">Phone Number:</label>
        <div>
            {{ form.phone_number }}
        </div>
        <label for="id_message">Message:</label>
        <div>
            {{ form.message }}
        </div>
        <label for="id_about">About:</label>
        <div>
            {{ form.about }}
        </div>
        <label for="id_photo">Photo:</label>
        <div>
            {{ form.photo }}
        </div>
    </form>
{% endblock %}